db/couchdb/migrations
db/couchdb/backups
server/lib/emails/i18n
node_modules
logs
npm-debug.log
scripts/couch2elastic4sync/configs
scripts/assets
scripts/local
config/*local*.coffee
config/runtime.json
db/leveldb*
erl_crash.dump
client
docs
wiki
github-wiki
.lev_history
exports
db/couchdb/migration_docs
notes
run
dumps
storage
inventaire-i18n
