db/couchdb/migrations
db/couchdb/backups
node_modules
logs
npm-debug.log
scripts/couch2elastic4sync/configs
scripts/assets
scripts/local
config/*local*.js
config/runtime.json
db/leveldb*
erl_crash.dump
client
wiki
github-wiki
.lev_history
exports
db/couchdb/migration_docs
notes
run
dumps/bnf
dumps/inv
dumps/wd
storage
inventaire-i18n
scripts/indexation/entities/queries/results/
*.ndjson
