{{>banner}}
{{>title_top}}
    <h2>{{i18n lang 'friend_accepted_request_subject' friend}} </h2>
{{>title_bottom}}


{{>button_top}}
    <a href="{{host}}/inventory/{{friend.username}}" target="_blank">{{i18n lang 'friend_accepted_request_button' friend}}</a>
{{>button_bottom}}

{{>general_info}}