{{>banner}}
{{>title_top}}
    <h2>{{i18n lang 'friendship_request_subject' otherUser}}</h2>
{{>title_bottom}}


{{>button_top}}
    <a href="{{host}}/inventory/{{otherUser.username}}" target="_blank">{{i18n lang 'friendship_request_button' otherUser}}</a>
{{>button_bottom}}

{{>general_info}}