{{>banner}}
{{>title_top}}
  <h2>{{title}}</h2>
{{>title_bottom}}

{{>button_top}}
  <a href="{{host}}/groups/{{group._id}}/settings" target="_blank">
    {{i18n lang 'group_join_request_button' buttonContext}}
  </a>
{{>button_bottom}}
{{>general_info}}