{{>banner}}
{{>title_top}}
  <h2>{{i18n lang title groupContext}}</h2>
{{>title_bottom}}

{{>button_top}}
  <a href="{{host}}/groups/{{group._id}}" target="_blank">
    {{i18n lang button groupContext}}
  </a>
{{>button_bottom}}
{{>general_info}}