{{>banner}}
{{>title_top}}
    <h1>{{i18n lang 'reset_password_title' user}}</h1>
{{>title_bottom}}

{{>paragraph_top}}
    {{{i18n lang 'reset_password_paragraph' user}}}
    <br />
    <br />
{{>paragraph_bottom}}

{{>button_top}}
    <a href="{{{href}}}" target="_blank" mc:disable-tracking>{{i18n lang 'reset_password_button'}}</a>
{{>button_bottom}}

{{>general_info}}