<div style="text-align:center"></div>

<br/>
<br/>
<br/> thank you for being a pioneer user of Inventaire!
<br/>
<br/>you <strong>can</strong> reply to this email for any question or feedback
<br/>
<a href="https://inventaire.io">Inventaire</a>&nbsp;[1]
<br/>
<br/>
<br/>
Follow Inventaire developments:&nbsp;
<a href="https://facebook.com/inventaire.io">on facebook</a>&nbsp;[2] -
<a href="https://twitter.com/inventaire_io">on twitter</a>&nbsp;[3] -
<a href="https://github.com/maxlath/inventaire">on github</a>&nbsp;[4]
<br/>
<br/>
Think you can contribute to make Inventaire better? Get involved!!
<br/>
Ask to be added to the <a href="https://trello.com/b/0lKcsZDj/inventaire-community">project development board</a>&nbsp;[1], post an
<a href="https://github.com/maxlath/inventaire/issues">issue on github</a>&nbsp;[5], or just start a discussion by answering this email!
<br/>
<br/>
Next functionalities to be developed:
<ul>
  <li>Groups</li>
  <li>Transactions tracking (know where is your book)</li>
  <li>Messaging</li>
</ul>

<br/>
raw links:
<br/> [1] https://inventaire.io
<br/> [2] https://facebook.com/inventaire.io
<br/> [3] https://twitter.com/inventaire_io
<br/> [4] https://github.com/maxlath/inventaire
<br/> [5] https://trello.com/b/0lKcsZDj/inventaire-community
<br/> [6] https://github.com/maxlath/inventaire/issues