<div style="text-align:center"></div>

<br/>
<br/>
<br/> thank you for being a pioneer user of Inventaire!
<br/>
<br/>you <strong>can</strong> reply to this email for any question or feedback
<br/>
<a href="https://inventaire.io">Inventaire</a>
<br/>
<br/>
<br/>
Follow Inventaire developments:&nbsp;
<a href="https://facebook.com/inventaire.io">on facebook</a> -
<a href="https://twitter.com/inventaire_io/">on twitter</a> -
<a href="https://github.com/maxlath/inventaire">on github</a>
<br/>
<br/>
Think you can contribute to make Inventaire better? Get involved!!
<br/>
Ask to be added to the <a href="https://trello.com/b/0lKcsZDj/inventaire-community">project development board</a>, post an
<a href="https://github.com/maxlath/inventaire/issues">issue on github</a>, or just start a discussion by answering this email!
<br/>
<br/>
Next functionalities to be developed:
<ul>
  <li>Groups</li>
  <li>Transactions tracking (know where is your book)</li>
  <li>Messaging</li>
</ul>