{{!-- MODULE ROW // --}}
<tr><td align="center" valign="top">
{{!-- CENTERING TABLE // --}}
<table border="0" cellpadding="0" cellspacing="0" width="100%"><tr><td align="center" valign="top">
{{!-- FLEXIBLE CONTAINER // --}}
<table border="0" cellpadding="0" cellspacing="0" width="600" class="flexibleContainer"><tr><td align="center" valign="top" width="600" class="flexibleContainerCell">
{{!-- CONTENT TABLE // --}}
<table border="0" cellpadding="0" cellspacing="0" width="100%"><tr><td valign="top" class="imageContentLast">
        {{!-- <img src="http://placekitten.com/g/1120/800" width="560" class="flexibleImage" style="max-width: 560px;"> --}}
    </td>
</tr><tr><td valign="top" class="textContent">