{{>general_info_top}}
<br/>{{{i18n lang 'you_are_welcome_to_reply'}}}
<hr />
<p class="textCenter">
  <a target="_blank" href="https://wiki.inventaire.io/wiki/FAQ">help</a>&nbsp; -
  <a target="_blank" href="https://wiki.inventaire.io">wiki</a>&nbsp; -
  <a target="_blank" href="https://roadmap.inventaire.io">roadmap</a>&nbsp; -
  <a target="_blank" href="https://facebook.com/inventaire.io">facebook</a>&nbsp; -
  <a target="_blank" href="https://twitter.com/inventaire_io">twitter</a>&nbsp; -
  <a target="_blank" href="https://github.com/inventaire/inventaire">github</a>&nbsp;
</p>
<hr />
<br />
<small style="background-color: #EEEEEE; width: 90%; text-align:center;">
  {{{i18n lang 'stop_email_notifications' user}}}
</small>
{{>general_info_bottom}}
