{{!-- MODULE ROW // --}}
<tr><td align="center" valign="top">
{{!-- CENTERING TABLE // --}}
<table border="0" cellpadding="0" cellspacing="0" width="100%"><tr><td align="center" valign="top">
{{!-- FLEXIBLE CONTAINER // --}}
<table border="0" cellpadding="0" cellspacing="0" width="600" class="flexibleContainer"><tr><td align="center" valign="top" width="600" class="flexibleContainerCell">

{{!-- CONTENT TABLE // --}}
{{!--
The table cell imageContent has padding
applied to the bottom as part of the framework,
ensuring images space correctly in Android Gmail.
--}}
<table border="0" cellpadding="0" cellspacing="0" width="100%"><tr><td valign="top" class="imageContent">
<img src="{{this}}" width="560" class="flexibleImage" style="max-width: 560px;" /></td>
</tr></table>{{!-- // CONTENT TABLE --}}</td>
</tr></table>{{!-- // FLEXIBLE CONTAINER --}}</td>
</tr></table>{{!-- // CENTERING TABLE --}}</td>
</tr>{{!-- // MODULE ROW --}}